##### num의 절대값

In [27]:
def abs1(number):
    if number >= 0: return(number)
    else : return -(number)
    
num = int(input('number : '))
abs1(num)

number : -10

10

In [29]:
import math

def abs2(number):
    return int(math.sqrt(number ** 2))

num = int(input('number : '))
abs2(num)

number : -10

10

#### 1부터 n까지 합

In [9]:
def sum_n(num):
    temp = 0
    for i in range(1, num + 1): temp += i 
    return temp

num = int(input('number : '))
sum_n(num)

number : 100

5050

In [22]:
def sum_n(num):
    return num * (num + 1) // 2

num = int(input('number : '))
sum_n(num)

number : 100

5050

#### 복잡도 계산 (빅 O 표기법)
- O(n) : 필요한 계산 횟수가 입력 크기 n과 비례할 때
- O(n) : 필요한 계산 횟수가 입력 크기 n과 무관할 대

In [23]:
def sqrt_n(num):
    temp = 0
    for i in range(1, num + 1): temp += (i ** 2)
    return temp

num = int(input('number : '))
sqrt_n(num)

# 대입 n + 1
# 계산 2n
# 복잡도 3n + 1 = n

number : 10

385

In [39]:
def sqrt_n(num):
    return (num * (num + 1) * ((2 *num) + 1)) // 6

num = int(input('number : '))
sqrt_n(num)

# 복잡도 n

number : 10

385

#### 최대값 찾기

In [43]:
a = [5, 7, 9]
a

[5, 7, 9]

In [56]:
def find_max(lst):
    max = 0
    for i in lst: 
        if i > max : max = i
    return max
    
lst = [17, 92, 18, 33, 58, 7, 33, 42]
find_max(lst)

92

In [4]:
def find_max(lst):
    max = 0
    for i in lst: 
        if i > max : max = i
    return max, lst.index(max)
    
lst = [17, 92, 18, 33, 58, 7, 33, 42]
find_max(lst)

(92, 1)

In [2]:
def find_max(lst):
    pos = 0
    for i in range(1, len(lst)):
        if lst[i] > lst[pos] :
            pos = i
    return pos
    
lst = [17, 92, 18, 33, 58, 7, 33, 42]
find_max(lst)

1

In [6]:
def find_min(lst):
    min = lst[0]
    for i in lst: 
        if i < min : min = i
    return min, lst.index(min)
    
lst = [17, 92, 18, 33, 58, 7, 33, 42]
find_min(lst)

(7, 5)

In [1]:
def find_min_idx(lst):
    pos = 0
    for i in range(1, len(lst)):
        if int(lst[i]) < lst[pos] : pos = i
    return lst[pos], pos
    
lst = [17, 92, 18, 33, 58, 7, 33, 42]
find_min_idx(lst)

(7, 5)

##### 집합 a.set() 에서는 중복 제거, .pop()하면 맨 앞에꺼 pop

In [2]:

s = set()
s.add(1)
s.add(2)
s.add(2)
s
s.pop()

1

#### 동명이인 찾기

In [23]:
def find_name(lst):
    result = set()
    for i in range(len(lst) - 1):
        for j in range(i + 1, len(lst)):
            if lst[i] == lst[j]: result.add(lst[j])
    return result

lst = ['tom', 'jerry', 'mike', 'tom']
find_name(lst)

{'tom'}

In [24]:
lst2 = ['tom', 'jerry', 'mike', 'tom', 'mike']
find_name(lst2)

{'mike', 'tom'}

##### 팩토리얼

In [38]:
def fact(num):
    result = 1
    for i in range(2, num + 1): result *= i
    return result

num = int(input('number : '))
fact(num)

number : 5

120

##### 재귀 함수

In [1]:
def fact(num):
    if num == 1: return 1
    return num * fact(num - 1)

num = int(input('nubmer : '))
fact(num)

nubmer : 5

120

In [2]:
def fact(num):
    if num == 1: return 1
    return num + fact(num - 1)

num = int(input('nubmer : '))
fact(num)

nubmer : 10

55

In [15]:
def comp(arr1, arr2):
    if arr1 > arr2 : return arr1
    else : return arr2 
    
def find_max(lst, index):
    if index == 1: return comp(lst[index], lst[index-1])
    return comp(lst[index], find_max(lst, index-1))

lst = [17, 60, 18, 33, 90, 7, 33, 42]
find_max(lst, len(lst) - 1)

90

In [10]:
def func(num):
    if num < 2: return num
    return func(num - 1) + func(num - 2)
    
num = int(input('number : '))
func(num)

number : 7

13

##### 하노이탑

In [22]:
def hanoi(num, start, support, end):
    if num == 1: print(start,'->',end); return
    
    hanoi(num - 1, start, end, support)
    hanoi(1, start, support, end)
    hanoi(num - 1, support, start, end)
    
num = int(input('number : '))
hanoi(num, '1번 기둥', '2번 기둥', '3번 기둥')

number : 3
1번 기둥 -> 3번 기둥
1번 기둥 -> 2번 기둥
3번 기둥 -> 2번 기둥
1번 기둥 -> 3번 기둥
2번 기둥 -> 1번 기둥
2번 기둥 -> 3번 기둥
1번 기둥 -> 3번 기둥

In [87]:
text = 3
var = lambda x = text : print(x + 5)
var()

8

In [88]:
print(list(filter(lambda x : x> 0, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]

In [3]:
from tkinter import *
from tkinter.filedialog import *

def click(key):
    if key == '=': display.insert(END, '=' + str(eval(display.get())))
    elif key == 'C': display.delete(0, END)
    elif key == '←': display.delete(len(display.get()) -1, END)
    else: display.insert(END, key)

window = Tk()
window.title('My caculator')
display = Entry(window, width = 50, bg = 'yellow')
display.grid(row = 0, column = 0, columnspan = 5)

button_list = '7,8,9,/,C,4,5,6,*,%,1,2,3,-,**,0,.,=,+,←'.split(',')
row_index = 1

for button_text in button_list:
    col_index = button_list.index(button_text)
    if col_index % 5 == 0: row_index += 1
    btn = Button(window, text=button_text, width = 9, height = 2\
                 ,command = lambda x = button_text : click(x))\
                .grid(row = row_index, column = col_index % 5)

window.mainloop()

In [17]:
import tkinter.messagebox as tm


def save():
    file = asksaveasfile(parent = window2, mode = 'w')
    if file != None:
        lines = text.get('0.0', END + '-1c')
        file.write(lines)
        file.close()
        
def open():
    file = askopenfile(parent = window2, mode = 'r')
    if file != None:
        text.delete('0.0', END + '-1c')
        lines = file.read()
        text.insert('0.0', lines)
        file.close()
    
def exit():
    if tm.askokcancel("종료", "메모장을 종료하시겠습니까?"): window2.destroy()
    
def helpInfo():
    tm.showinfo("프로그램 정보", "이름 : 신희수\n날짜 : 12.18\n버전 : 1.0")
    
def newOpen():
    if text.get('0.0', END + '-1c'): 
        msg = tm.askyesnocancel("나의 메모장", "저장하시겠습니까?")
        if msg: save()
        elif msg == None: return
        else : text.delete('0.0', END + '-1c'); return
    
window2 = Tk()
window2.title('QQ')
mymenu = Menu(window2)
window2.config(menu = mymenu)
text = Text(window2, height = 30, width = 80)
text.pack()

filemenu = Menu(mymenu)
mymenu.add_cascade(label="파일", menu=filemenu)
filemenu.add_command(label="새로만들기", command = newOpen)
filemenu.add_command(label="열기", command = open)
filemenu.add_command(label="저장하기", command = save)
filemenu.add_command(label="종료", command = exit)

helpmenu = Menu(mymenu)
mymenu.add_cascade(label="도움말", menu=helpmenu)
helpmenu.add_command(label="프로그램 정보", command = helpInfo)


window2.mainloop()

In [156]:
a = {'a':1, 'b':2, 'c':3}
a.keys()

dict_keys(['a', 'b', 'c'])

##### 순차 탐색

In [32]:
def func(lst, findNumber):
    for i in range(len(lst)):
        if findNumber == lst[i] : print(i); break
    
lst = [17, 92, 18, 33, 58, 5, 33, 42]
findNumber = int(input('number : '))
func(lst, findNumber)

number : 58
4

##### 순차탐색 -1

In [36]:
def func(lst, findNumber):
    answer = []
    for i in range(len(lst)):
        if findNumber == lst[i] : answer.append(i)
    
    return answer
    
lst = [17, 92, 18, 33, 58, 5, 33, 42]
findNumber = int(input('number : '))
func(lst, findNumber)

number : 33

[3, 6]

##### 순차탐색 -2

In [40]:
def func(lst, num):
    if num in lst : return lst[num]
    else : return '?'

studentList = {39 : 'Justin', 14 : 'John', 67 : 'Mike', 105 : 'Summer'}
findNumber = int(input('number : '))
func(studentList, findNumber)

number : 23

'?'

##### 선택정렬

In [53]:
def func(lst):
    result = []
    for i in range(len(lst)):
        result.append(min(lst))
        del lst[lst.index(min(lst))]
    return result

lst = [3, 5, 1, 7, 2]
func(lst)

[1, 2, 3, 5, 7]

In [78]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the beautifulDays function below.
def beautifulDays(i, j, k):
    lst = [i]
    index = 0
    
    while 1:
        i += 1
        lst.append(i)
        if i == j: break
    
    rLst = list(map(str, lst))
    for i in range(len(rLst)):
        rLst[i] = rLst[i][::-1]
        if abs(lst[i] - int(rLst[i])) % k == 0 : index += 1
    
    return index
            
if __name__ == '__main__':
    ijk = input().split()
    i = int(ijk[0])
    j = int(ijk[1])
    k = int(ijk[2])

    result = beautifulDays(i, j, k)
    print(result)

13 45 3
33