##### num의 절대값

In [27]:
def abs1(number):
    if number >= 0: return(number)
    else : return -(number)
    
num = int(input('number : '))
abs1(num)

number : -10

10

In [29]:
import math

def abs2(number):
    return int(math.sqrt(number ** 2))

num = int(input('number : '))
abs2(num)

number : -10

10

#### 1부터 n까지 합

In [9]:
def sum_n(num):
    temp = 0
    for i in range(1, num + 1): temp += i 
    return temp

num = int(input('number : '))
sum_n(num)

number : 100

5050

In [22]:
def sum_n(num):
    return num * (num + 1) // 2

num = int(input('number : '))
sum_n(num)

number : 100

5050

#### 복잡도 계산 (빅 O 표기법)
- O(n) : 필요한 계산 횟수가 입력 크기 n과 비례할 때
- O(n) : 필요한 계산 횟수가 입력 크기 n과 무관할 대

In [23]:
def sqrt_n(num):
    temp = 0
    for i in range(1, num + 1): temp += (i ** 2)
    return temp

num = int(input('number : '))
sqrt_n(num)

# 대입 n + 1
# 계산 2n
# 복잡도 3n + 1 = n

number : 10

385

In [39]:
def sqrt_n(num):
    return (num * (num + 1) * ((2 *num) + 1)) // 6

num = int(input('number : '))
sqrt_n(num)

# 복잡도 n

number : 10

385

#### 최대값 찾기

In [43]:
a = [5, 7, 9]
a

[5, 7, 9]

In [56]:
def find_max(lst):
    max = 0
    for i in lst: 
        if i > max : max = i
    return max
    
lst = [17, 92, 18, 33, 58, 7, 33, 42]
find_max(lst)

92

In [4]:
def find_max(lst):
    max = 0
    for i in lst: 
        if i > max : max = i
    return max, lst.index(max)
    
lst = [17, 92, 18, 33, 58, 7, 33, 42]
find_max(lst)

(92, 1)

In [2]:
def find_max(lst):
    pos = 0
    for i in range(1, len(lst)):
        if lst[i] > lst[pos] :
            pos = i
    return pos
    
lst = [17, 92, 18, 33, 58, 7, 33, 42]
find_max(lst)

1

In [6]:
def find_min(lst):
    min = lst[0]
    for i in lst: 
        if i < min : min = i
    return min, lst.index(min)
    
lst = [17, 92, 18, 33, 58, 7, 33, 42]
find_min(lst)

(7, 5)

In [1]:
def find_min_idx(lst):
    pos = 0
    for i in range(1, len(lst)):
        if int(lst[i]) < lst[pos] : pos = i
    return lst[pos], pos
    
lst = [17, 92, 18, 33, 58, 7, 33, 42]
find_min_idx(lst)

(7, 5)

##### 집합 a.set() 에서는 중복 제거, .pop()하면 맨 앞에꺼 pop

In [2]:

s = set()
s.add(1)
s.add(2)
s.add(2)
s
s.pop()

1

#### 동명이인 찾기

In [23]:
def find_name(lst):
    result = set()
    for i in range(len(lst) - 1):
        for j in range(i + 1, len(lst)):
            if lst[i] == lst[j]: result.add(lst[j])
    return result

lst = ['tom', 'jerry', 'mike', 'tom']
find_name(lst)

{'tom'}

In [24]:
lst2 = ['tom', 'jerry', 'mike', 'tom', 'mike']
find_name(lst2)

{'mike', 'tom'}

##### 팩토리얼

In [38]:
def fact(num):
    result = 1
    for i in range(2, num + 1): result *= i
    return result

num = int(input('number : '))
fact(num)

number : 5

120

##### 재귀 함수

In [1]:
def fact(num):
    if num == 1: return 1
    return num * fact(num - 1)

num = int(input('nubmer : '))
fact(num)

nubmer : 5

120

In [2]:
def fact(num):
    if num == 1: return 1
    return num + fact(num - 1)

num = int(input('nubmer : '))
fact(num)

nubmer : 10

55

In [15]:
def comp(arr1, arr2):
    if arr1 > arr2 : return arr1
    else : return arr2 
    
def find_max(lst, index):
    if index == 1: return comp(lst[index], lst[index-1])
    return comp(lst[index], find_max(lst, index-1))

lst = [17, 60, 18, 33, 90, 7, 33, 42]
find_max(lst, len(lst) - 1)

90

In [10]:
def func(num):
    if num < 2: return num
    return func(num - 1) + func(num - 2)
    
num = int(input('number : '))
func(num)

number : 7

13