## jupyter 활용

- esc를 사용해서 셀 선택과 커맨드 모드 변경 가능
- 커맨드 모드에서 m을 이용해서 마크다운 모드로 변경 가능

#### help(함수) : 함수에 대한 사용 방법

In [90]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#### %%time : 이 셀을 실행하는데 걸린 시간

In [13]:
%%time
print('HEllo')

HEllo
Wall time: 0 ns

#### %whos : 할당한 변수들의 타입과 값 출력

In [22]:
a = 10
b = 'hi'
c = 3.14
i = 'test'
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          str      hi
c          float    3.14
i          str      test

#### del 변수 : 메모리 상의 변수 삭제

In [23]:
del i

In [24]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          str      hi
c          float    3.14

#### 각 진법 표현

- 2진수 : 0b
- 8진수 : 0o
- 16진수 : 0x

In [101]:
0b00101

5

In [102]:
0o17

15

In [27]:
0x13

19

In [29]:
0xA

10

In [30]:
0xE

14

In [31]:
3.14e-2

0.0314

In [32]:
3.14e2

314.0

#### 무한대, None

In [35]:
float('inf')
float('nan')

nan

In [45]:
0b00001

1

In [100]:
type(3.14)

float

#### 정규표현식

In [47]:
3.14e-3

0.00314

In [57]:
3.14e0

3.14

In [62]:
7/4

1.75

In [82]:
weight = 76
height = 178 * 0.01
#키의 경우 cm 라서 변환 필요

In [83]:
BMI = weight / (height**2)

In [84]:
BMI

23.98687034465345

#### 불 연산자

In [85]:
a = True

In [86]:
type(a)

bool

In [88]:
b = False

In [89]:
type(b)

bool

In [91]:
True * True

1

In [92]:
False * False

0

In [93]:
True + True

2

In [94]:
True + False

1

In [95]:
False - True

-1

In [96]:
True - False

1

In [97]:
a + 1

2

In [98]:
a == 2

False

In [99]:
a == 1

True

#### 비교/논리 연산자

In [103]:
34 <= 34

True

In [104]:
not True

False

In [105]:
not 35

False

In [107]:
3 != 4

True

In [108]:
3 > 2 and 2 * 2 > 5

False

In [111]:
not -2

False

In [112]:
3 * 4 == 12 or 3 - 2 > 3

True

In [113]:
a = 3

In [118]:
a == 3 or a == 4 or a == 5

True

In [119]:
a = 4

In [120]:
a == 3 or a == 4 or a == 5

True

In [121]:
a = 5

In [122]:
a == 3 or a == 4 or a == 5

True

In [123]:
a = 6

In [124]:
a == 3 or a == 4 or a == 5

False

#### String
- '' 와 ""를 가리지 않는다. 시작과 끝이 같기만 하면 됨
- 중간에 줄바꿈이 필요한 경우 시작과 끝을 '''으로 통일하거나 \n 입력

In [131]:
a = 'hello'
print(a)

hello

In [127]:
type(a)

str

In [130]:
b = "'안녕'하세요"
print(b)

'안녕'하세요

In [136]:
b = "'안녕'\n하세요"
print(b)

'안녕'
하세요

In [135]:
c = '''안녕 
하세요'''
print(c)

안녕
하세요

#### String - Escape sequence
- \n : 다음 줄
- \t : 탭

In [137]:
a = '\'안녕\'하세요'
a

"'안녕'하세요"

In [138]:
print('a\tb')

a	b

In [139]:
print('aaa\tb')

aaa	b

In [140]:
print('aaaaaa\tb\tc')

aaaaaa	b	c

In [141]:
print('aaaaaaaaaaa\tb\tc')

aaaaaaaaaaa	b	c

In [143]:
print('a\nb\tc')

a
b	c

In [144]:
print('aaaaaaaaaa\tbbbbbbbbbb\ncccccccccccc')

aaaaaaaaaa	bbbbbbbbbb
cccccccccccc

In [148]:
"Hi" * 4.0
# String 타입은 non-int 타입과는 연산 불가

TypeError: can't multiply sequence by non-int of type 'float'

In [151]:
"Hi" * 0
#결과는 0이 아닌 빈 문자열

''

In [152]:
'hello' * 4

'hellohellohellohello'

In [153]:
'4' + '5'

'45'

In [154]:
'2' * 3 * 4

'222222222222'

In [157]:
"hi" * (4/2)
#이 경우에도 4/2 는 2가 아닌 2.0이기 때문에 에러 발생

TypeError: can't multiply sequence by non-int of type 'float'

In [160]:
type(4/2)

float

In [159]:
a = 3
b = 5
c = 'a + b'
c
# 'a+b'는 a+b가 아닌 문자형인 'a+b'가 들어가 있다.

'a + b'

#### Format Code
- %s : 문자열
- %d : 10진수
- %f : 실수
- %% : %
- %(-)숫자코드' % 값 : -를 붙이면 왼쪽 정렬, 숫자는 차지할 총 자리의 수

In [184]:
'aa %s cc' % 'bb'

'aa bb cc'

In [162]:
'aa %s cc' % 123

'aa 123 cc'

In [163]:
'aa %s cc' % 3.14

'aa 3.14 cc'

In [164]:
'%d * %d = %d' % (3, 4, 3*4)

'3 * 4 = 12'

In [165]:
'%d * %d = %d' % ('3', '4', '3*4')

TypeError: %d format: a number is required, not str

In [167]:
'%d * %d = %d' % (3.5, 4.1, 3.5*4.1)

'3 * 4 = 14'

In [168]:
'pi = %f' % 3

'pi = 3.000000'

In [169]:
'pi = %f' % '3'

TypeError: must be real number, not str

In [170]:
'pi = %f' % 3.14

'pi = 3.140000'

In [179]:
'pi = %.3f' % 3.14

'pi = 3.140'

In [186]:
'%10s' % 'hi' + 'Dave'
#hi 전까지 8칸 차지 hi가 나머지 2칸 차지

'        hiDave'

In [187]:
'%10s' % 'sdfsdfsdfsdf'

'sdfsdfsdfsdf'

In [188]:
'%-10s' % 'sdfasdfsadf'

'sdfasdfsadf'

In [190]:
'%10.3f' % 3.14159
#정수부분 10칸중 3이 한칸 차지ㅡ 소수부분은 3자리까지 표현 그 밑은 반올림

'     3.142'

In [191]:
'%10.2f' % 1414.167

'   1414.17'

#### 문자열의 길이

In [192]:
len('Hello')

5

In [193]:
len('가나다라마')

5

In [194]:
len('ㅁㄴㅇㄴㅇ')

5

In [195]:
len('')

0

In [196]:
len(123123)

TypeError: object of type 'int' has no len()

In [197]:
len('123123')

6

#### 문자열 수정
- 'string'.replace(s1,s2) : 'string'에서 s1을 찾아서 s2로 변환

In [198]:
'010-1234-1234'.replace('-','')

'01012341234'

#### 공백 지우기
- 'string'.strip() : 양쪽공백 지우기
- 'string'.rstrip() : 오른쪽 공백 지우기
- 'string'.lstrip() : 왼쪽 공백 지우기

In [199]:
' Hello '.strip()

'Hello'

#### 문자 검색

In [201]:
a = 'hobby'
a.find('b')

2

In [202]:
a.index('b')

2

In [203]:
a.find('bb')

2

In [205]:
a.find('e')

-1

In [206]:
a.index('e')

ValueError: substring not found

In [209]:
a.count('bb')

1

In [208]:
a.index('bb')

2

In [210]:
ord('a')

97

In [211]:
ord('abc')

TypeError: ord() expected a character, but string of length 3 found

In [212]:
'43'.isdigit()

True

In [222]:
'sdf!@'.islower()

True

In [214]:
'!@'.islower()

False

In [220]:
'  '.isdigit()

False

In [216]:
'a    '.islower()

True

#### 형변환
-